.cont{
    height:65em;
    width:100%;
   
}

.cont-2{
    height:45em;
    width:100%;
}


.image1{
    width:50em;
}

.image2{
    width:36em;
}



@media (max-width: 991.98px) { 
    .image1{
        
      width: 45em;
          
    }

   }
@media (max-width: 767.98px) { 
     
     
    
        .image2{
            width:10em;
            height: 10em;
            
        }

        .cont{
            height:fit-content;
        }
        #waved{
            button{
                padding:0.5em 1em ;
            }
            .buttons-container{
                margin-top: 18vh !important;
                
            }
        }

}



