.cont{
    height:45em;
    width:100%;
   
}

#first-container{
    height:33em;
}

.image1{
    height:30em;
    width:33em;
}

.image2{
    height:23em;
    width:30em;
}



@media (max-width: 991.98px) { 
    .image1{
      width: 25em;
      height: 38em;
    }

    .image2{
        width:20em;
        height:25em
    }

   }
@media (max-width: 767.98px) { 
     
        #first-container{
            background:url('../../assets/img-01.png') no-repeat rgba(224, 224, 227,0.5);
            background-size: 70vw;
            background-position:right top;
            height: 35em !important
           
        }

        .image2{
            width:12em;
            height:12em;
        }

        .cont{
            height:fit-content;
        }
        #waved{
            button{
                padding:0.5em 1em ;
            }
            .buttons-container{
                margin-top: 18vh !important;
                
            }
        }

}

