.cont{
    height:65em;
    width:100%;
   
}

.cont-2{
    height:45em;
    width:100%;
}


.image1{
    width:50em;
}

.image2{
    width:36em;
}



@media (max-width: 991.98px) { 

    .ml-md-0{
        margin-left: 0;
    }
    .image1{
        
      width: 45em;
          
    }

    .cont{
        height:50em;
    }

   }
@media (max-width: 767.98px) { 
    .image2{
        width:100%;
    }

    .welcome-container{
        height:29em;
    }
  
    .grid-features{
         grid-template-columns: 1fr;
          
        }

    .mt-16{
        margin-top:16em;
    }


        .cont{
            height:fit-content;
        }
        #waved{
            button{
                padding:0.5em 1em ;
            }
            .buttons-container{
                margin-top: 18vh !important;
                
            }
        }

}



