
.logo{
    height: 2.5em;
}

.options{
    align-items: center;

    button{
        color:#6C6C6C;
        font-family: 'Mada-Semi';
        font-weight: bolder;
        text-transform: none;
        font-size: 1.1em;
    }
}


