

.logo{
    height: 2em;
}

.options{
    align-items: center;
    button{
        color:#6C6C6C;
        font-family: 'Mada-SemiBold';
        text-transform: none;
        font-size: 1.1em;
    }
}


