#GooglePlayButtonStore{
    background:url("../../assets/google-play-badge.svg") 0% 0% / contain no-repeat;
    width:8.4em;
    height:2.5em;
    margin-left: 0.5em;
    cursor: pointer
}

@media (max-width: 767.98px) {
    #GooglePlayButtonStore{
        width: 16em;
        height: 18em;
    }    
}