@mixin main-button{
 color: #ffff !important
}


.gradient-button{
    @include main-button;
    background: rgb(175,45,140);
    background: linear-gradient(113deg, rgba(175,45,140,1) 40%, rgba(81,119,183,1) 74%);
   
}

.gray-button{
    background-color: #F3F2F2 !important;
    color: #1A1B30;
}


.gradient-button-curved{
    @include main-button;
    font-family: 'Mada-Semi';
    background:url('../../assets/gradient-button.png');
    background-size: cover;
    background-color: transparent !important;
    &:hover{
        background-color: transparent !important;
    }
  
  
}



