#IOSbutton{
    background:url("../../assets/apple-app-store-badge.svg") 0% 0% / contain no-repeat;
    width:7.5em;
    height:2.5em;
    cursor: pointer

}

// https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png

@media (max-width: 767.98px) {
    #IOSbutton{
        width: 15em;
        height: 10em; 
    }
}