*{
  max-width: 100%;
}

@font-face{
  font-family: 'Mada-SemiBold';
  src: url('./assets/fonts/Mada-SemiBold.ttf')
}

@font-face{
  font-family: 'Mada-Bold';
  src: url('./assets/fonts/Mada-Bold.ttf')
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Mada-Bold'
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gray-background{
  background-color: rgba(224, 224, 227,0.5)
}

footer{
  background: url('./assets/footer.png');
  background-size: cover;
  height: 20em;
}

#waved{

  background: url('./assets/WaveBackground.png');
  background-size: cover
}

.grid-container{
  display:grid;
  grid-template-columns: repeat(4,15em); 
  grid-column-gap: 3em;
  p{
    max-width:13.5em;
  }
 
}
.fixed-container{
  height:35em;
}

.wrapper-container{
  height:fit-content;
}
.small-container{
  height:15em;
}

#info-matrix{
  background-color: #1A1B30;

}

.fer{
 z-index: 1;
 fill: url(#my-cool-gradient)
 
}

.main-background{
  
  background: rgb(175,45,140);
  background: linear-gradient(80deg, rgba(175,45,140,1) 0%, rgba(175,45,140,1) 40%, rgba(81,119,183,1) 74%, rgba(81,119,183,1) 100%);

}

.circle-icon{
  height: 2.5em;
  width:2.5em;
  padding:7px;
  color:white;
  border-radius: 50%;
  border: 1px solid #fff;
}


@media (max-width: 991.98px) { 
  .grid-container{
    grid-template-columns: repeat(2,15em);
    grid-template-rows: repeat(1,1fr);
    grid-row-gap: 5em;
  }

  .fixed-container{
    height: fit-content;
  }
 }