*{
  max-width: 100%;
}


@font-face{
  font-family: 'Mada-SemiBold';
  src: url('./assets/fonts/Mada-SemiBold.ttf')
}

@font-face{
  font-family: 'Mada-Bold';
  src: url('./assets/fonts/Mada-Bold.ttf')
}

@font-face{
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins-Regular.ttf')
}

@font-face{
  font-family: 'Mada-Normal';
  src: url('./assets/fonts/Mada-Medium.ttf')
}

@font-face{
  font-family: 'Mada-Semi';
  src: url('./assets/fonts/Mada-Light.ttf')
}
p{
  font-family: "Poppins" !important;
  color: gray;
  font-size: 0.85em;
  line-height: 1.5rem;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Mada-Bold'
}


h2{
  font-size: 3em !important;
}

h3{
  font-size: 2.5em !important;
}

h4{
  font-size: 2em !important;
}

h5{
  font-size: 1.8em !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

svg{
  min-width: 0.8em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



footer{
  background: url('./assets/footer.png');
  background-size: cover;
  height: 20em;
}

.fw-bold{
  font-weight: 700
}
.mt-7{
  margin-top: 7em;
}

.mt-6{
  margin-top:6em;
}
.month{
  font-family: 'Mada-Normal';
  font-size: 0.5em;
}

.buttons-container{
  margin-top: 4em;
}

#waved{
  background: url('./assets/WaveBackground.png');
  background-size: 100% 110%;
  background-repeat: no-repeat;
  margin-top: 3em;

}


.gray-background{
  
  background: url('./assets/header.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

#grid-features{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat (4,1fr);
  grid-row-gap: 3em;
  grid-column-gap: 1em;
}

.grid-container{
  display:grid;
  grid-template-columns: repeat(4,17em); 
  grid-column-gap: 0.75em;
  p{
    max-width:13.5em;
  }
 
}
.fixed-container{
  height:fit-content;
}

.small-container{
  height:15em;
}

.medium-container{
  height: 28em;
}

#info-matrix{
  background-color: #1A1B30;

}

.main-background{
  
  background: rgb(175,45,140);
  background: linear-gradient(80deg, rgba(175,45,140,1) 0%, rgba(175,45,140,1) 40%, rgba(81,119,183,1) 74%, rgba(81,119,183,1) 100%);

}

.pricing-subheader{
  color: #4282BF !important;
}

.circle-icon{
  height: 2.5em;
  width:2.5em;
  padding:7px;
  color:white;
  border-radius: 50%;
  border: 1px solid #fff;
}




@media (max-width: 991.98px) { 
  .grid-container{
    grid-template-columns: repeat(2,15em);
    grid-template-rows: repeat(1,1fr);
    grid-row-gap: 5em;
  }

 
 }

@media (max-width: 767.98px) {
  h2{
    font-size: 2.4em !important;
  }
  h3{
    margin-top:1em !important;
    font-size: 2em !important;
  }
  p{
    font-size: 0.7rem;
    
  };
  .MuiTypography-body2{
    font-size: 0.7rem !important;
  }
  
  .jumbo{
    font-size: 0.875rem;
  }
    .grid-container{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4,1fr);
      grid-row-gap:3em;
    }
    footer{
      height: fit-content;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .grid-footer{
      display:grid;
     
      grid-column-gap: 0.2em;
      grid-row-gap: 0.2em;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
      
     .logo-cont{
       display:flex;
       flex-direction: column;
       justify-content: flex-end !important;
      align-items: center;
      height: 100% !important;
        img{
          height:3em;
          width:8em;
        }

        svg{
          height: 2em;
          width: 2em;
        }
       grid-column: 1/-1;
     }
      li{
      font-size: 0.6rem;
       
      }
      
    }



}

